body {
	background-color:#999;
}

#content {
	margin-left: auto;
	margin-right: auto;
}

.column {
	margin:10px 5px 5px 10px;
	background-color:#fff;
}

.right {
	padding:0.5em;
	min-width:200px;/* else in firefox it looks ugly */
}
.chart-title {
	display:inline-block;
	width:145px;
	font-weight:bold;
	font-size:12px;
	font-family:monospace;
}


#e-meter {
	display:inline-block;
	width:145px;
	text-align:right;
	font-weight:bold;
	font-size:14px;
	font-family:monospace;
	padding-left:20px;
}

input, select {
	width:180px;
	padding:2px;
	margin:0px;
	box-sizing:border-box;
}

#console {
	font-size:10px;
	background-color:#ddd;
	padding:0.5em;
	border-style:solid;
	border-width:1px;
	border-color:#bbb;
	height:40em;
	overflow-y:scroll;
}


#console pre {
	padding:0;
	margin:0;
}

#banner {
	padding:5px;
	margin:5px;
	background-image: url(/static/img/logo.jpg);
	background-size: 130px;
	background-repeat: no-repeat;
	background-position: right center;
	background-position: 98% 50%;
}

h1 {
	color:#333;
	font-size:40px;
	margin:0;
	padding-left:10px;
}

.subtitle {
	color:#777;
	font-size:25px;
	margin:0;
	padding-left:10px;
	vertical-align:2px;
}

h2 {
	color:#333;
	padding:0;
	padding-bottom:0.1em;
	margin:0;
}

.button {
	min-width: 150px;
}


svg {
	font: 11px sans-serif;
	display: block;
	background-color:#fff;
	margin-bottom:10px;
}

.legend {
	font: 14px sans-serif;
	display: block;
	background-color:#fff;
	margin-bottom:10px;
}
.axis path,
.axis line {
	fill: none;
	stroke: #000;
/* shape-rendering: crispEdges; */
}

.work-command {
	shape-rendering: crispEdges;
	fill:#ddd;
	stroke:#999;
}
.work-command-highlight {
/*	shape-rendering: crispEdges; */
	fill:#666;
	stroke:#444;
}

.marker { fill:#888; }
.marker-highlight { fill:#33f; }
.dead { fill:#f33; }

.work-request {
	/*shape-rendering: crispEdges;*/
	fill:#777;
}

.line {
	fill:none;
	stroke-width:2;
}

