body {
	background-color:#999;
	font: 10px sans-serif;
}

svg {
	display: block;
	margin-left: auto;
	margin-right: auto;

	background-color:#fff;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
/*
	shape-rendering: crispEdges;
*/
}

.work-command {
	shape-rendering: crispEdges;
	fill: #999;
	stroke: #444;
}

.work-request {
	/*shape-rendering: crispEdges;*/
	fill: #999;
	stroke: #444;
}



