body {
	background-color:#999;
	font: 10px sans-serif;
}

#content {
	margin-left: auto;
	margin-right: auto;
}

.column {
	margin:1em;
	float:left;
	background-color:#fff;
}

.right {
	padding:1em;
}

#svg {
	display: block;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
/*
	shape-rendering: crispEdges;
*/
}

.work-command {
	shape-rendering: crispEdges;
	fill: #999;
	stroke: #444;
}

.work-request {
	/*shape-rendering: crispEdges;*/
	fill: #999;
	stroke: #444;
}



